body {
  font-family: Arial, sans-serif;
  background: url('/assets/web_background.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-family: 'Poppins', sans-serif; /* Example of a modern font */
  font-size: 2.5rem; /* Adjust size as needed */
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background: linear-gradient(90deg, #28da28, #1da91d); /* Gradient text */
  
  /* Background-clip with vendor prefixes */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent; /* Required for gradient text effect */
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
}

.info{
  background-color: white;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  min-width: 220px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-container {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.day {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.day:active {
  background-color: #e9e9e9;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

.day::after {
  content: " ";
  display: inline-block;
  margin-left: 5px;
  width: 8px;
  height: 8px;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  transform: rotate(45deg);
  vertical-align: middle;
}

.day:hover {
  background-color: #e9e9e9;
}

.day-header {
  font-weight: bold;
}

.day-stats {
  margin-top: 10px;
  padding-left: 10px;
  text-align: center;
}

.suitable {
  background: linear-gradient(90deg, #28da28, #1da91d);
  text-align: center;
}

.unsuitable {
  background: linear-gradient(90deg, #dc5555, #ce1a1a);
  text-align: center;
}

.suitable:hover {
  background: linear-gradient(90deg, #1da91d, #149114);
  text-align: center;
}

.unsuitable:hover {
  background: linear-gradient(90deg, #ce1a1a, #b51717);
  text-align: center;
}

.accordion {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
  border-radius: 12px;
  text-align: center;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  font-size: 8;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  align-items: center;
  border-radius: 20px;
}

.input-group input, 
.input-group button {
  margin: 5px 0;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.input-group button:hover {
  background-color: #e0e0e0; 
}

@media (max-width: 768px) {
  body {
    background: url('/assets/mobile_background.jpg') no-repeat center center fixed;
    background-size: cover;
  }

  h1{
    text-align: center;
    font-size: 24px;
  }
  .main-container {
    padding: 15px;
  }

  .day {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    background-color: #f0f0f0;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .input-group {
    max-width: 100%;
  }

  .day {
    padding: 6px;
  }

  .day-stats {
    padding: 8px;
  }
}

